.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#", class: "top-items__icons top-items__icons__edit" do
          <i class="far fa-edit fa-sm"></i>
        = link_to "#", class: "top-items__icons top-items__icons__cog" do
          <i class="fas fa-cog fa-sm"></i>
  .side-bar__group-list
    .group-items
      .group-items__name
        aaa
      .group-items__message
        bbb
    .group-items
      .group-items__name
        aaa
      .group-items__message
        bbb
    .group-items
      .group-items__name
        aaa
      .group-items__message
        bbb
    .group-items
      .group-items__name
        aaa
      .group-items__message
        bbb
    .group-items
      .group-items__name
        aaa
      .group-items__message
        bbb
    .group-items
      .group-items__name
        aaa
      .group-items__message
        bbb