/*フォントサイズ*/
$font-11: 11px;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-bold: bold;


/*フォントカラー*/
$color-fff: #ffffff;
$color-38aef0: #38aef0;
$color-333: #333333;
$color-999: #999999;
$color-434A54: #434A54;
$color-fafafa: #fafafa;
$color-d2d2d2: #d2d2d2;
$color-253141: #253141;